<ion-header>
  <ion-toolbar>
    <ion-title>
      Menu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let movie of movies;">
    <ion-card-header>
      <ion-card-subtitle>Peliculas: {{movie.movieEntityList.length}}</ion-card-subtitle>
      <ion-card-title>{{movie.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="full" (click)="goToMovies(movie.id)">Ver peliculas</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>